@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Palanquin+Dark:700|Palanquin:700|Passion+One:700&display=swap");
body { overflow-x: hidden; font-family: 'Lato', sans-serif; color: #5a5a5a; }

.navbar { font-weight: 700; background: rgba(0, 0, 0, 0.3) !important; }

.navbar .navbar-nav .nav-link { color: white; }

.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link:hover { color: #ed145b; }

.home-inner { position: relative; background-image: url("../images/header.png"); background-position: center; background-size: cover; height: 800px; }

.home-inner:after { content: ""; position: absolute; top: 100%; width: 100%; height: 30px; background-color: #ed145b; -webkit-clip-path: polygon(0% 100%, 100% 0%, 0% 0%); clip-path: polygon(0% 100%, 100% 0%, 0% 0%); }

.caption { width: 100%; max-width: 100%; position: absolute; top: 30%; z-index: 1; color: #fff; letter-spacing: 1px; padding: 16px; }

.caption h1 { font-size: 46px; }

.caption h1 .light-text { font-weight: 900; }

.caption hr { border-top: 2px solid #ed145b; width: 200px; margin: 38px auto; }

.caption h3 { font-size: 22px; }

.caption .btn-primary { font-size: 15px; letter-spacing: 0; font-weight: 700; border-radius: 24px; border: none; width: 200px; padding: 15px 4px; background-color: #ed145b; margin-top: 58px; }

@media (max-width: 992px) { .caption h3 { font-size: 20px; } }

@media (max-width: 768px) { .caption h1 { font-size: 40px; }
  .caption h3 { font-size: 1rem; } }

@media (max-width: 576px) { .caption h1 { font-size: 28px; }
  .caption hr { border-top: 2px solid #ed145b; width: 140px; margin: 38px auto; }
  .caption h3 { font-size: 14px; }
  .caption .btn-primary { font-size: 12px; width: 150px; margin-top: 38px; } }

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
.about-us { height: 647px; background-color: #f4f4f4; }

.about-us .about-us__header--one { margin-top: 150px; }

.about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 38px; letter-spacing: 1px; }

.about-us .about-us__horizontal-rule { border-top: 2px solid #ed145b; width: 200px; margin: 28px 0; }

.about-us .about-us__paragraph { font-size: 15px; color: #5a5a5a; line-height: 30px; }

.about-us .about-us__link { color: #ed145b; font-size: 15px; margin-top: 37px; text-decoration: none; }

.about-us .about-us__link .fa-play-circle { position: relative; top: 5px; left: 11px; font-size: 27px; }

.about-us .about-us__image { position: relative; max-width: 100%; height: auto; margin-top: 105px; }

/*---Extra Large media screen---*/
@media (max-width: 1200px) { .about-us { height: 457px; background-color: #f4f4f4; }
  .about-us .about-us__header--one { margin-top: 30px; }
  .about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 24px; }
  .about-us .about-us__horizontal-rule { width: 140px; margin: 14px 0 6px; }
  .about-us .about-us__paragraph { font-size: 13px; }
  .about-us .about-us__link { color: #ed145b; font-size: 12px; }
  .about-us .about-us__link .fa-play-circle { top: 4px; font-size: 22px; } }

/*---Large media screen---*/
@media (max-width: 992px) { .about-us { height: 387px; background-color: #f4f4f4; }
  .about-us .about-us__header--one { margin-top: 130px; }
  .about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 18px; }
  .about-us .about-us__horizontal-rule { border-top: 1px solid #ed145b; width: 110px; margin: 10px 0 2px; }
  .about-us .about-us__paragraph { font-size: 12px; margin-bottom: 4px; }
  .about-us .about-us__link { color: #ed145b; font-size: 12px; }
  .about-us .about-us__link .fa-play-circle { top: 3px; font-size: 18px; } }

@media (max-width: 991px) { .about-us { height: 890px; } }

/*---Medium media screen---*/
@media (max-width: 768px) { .about-us { height: 787px; }
  .about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 20px; }
  .about-us .about-us__paragraph { font-size: 14px; } }

/*---Small media screen---*/
@media (max-width: 576px) { .about-us { height: 720px; }
  .about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 21px; }
  .about-us .about-us__paragraph { font-size: 13px; } }

.our-service { height: 700px; color: #5a5a5a; }

.our-service__title { margin-top: 153px; font-size: 38px; font-weight: 300; letter-spacing: 1px; font-style: italic; margin-bottom: 38px; }

.our-service__horizontal-rule { width: 200px; border-top: 2px solid #ed145b; margin-bottom: 41px; }

.our-service__paragraph { font-size: 15px; line-height: 30px; margin-bottom: 93px; }

.our-service__link { color: #ed145b; font-weight: 400; text-decoration: none !important; font-weight: 400; }

.our-service__link:hover { color: #ed145b; }

.our-service__circle { position: relative; top: 0; left: 50%; transform: translateX(-50%); display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; width: 131px; height: 131px; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.3); margin-bottom: 23px; }

.carousel { position: relative; }

.carousel__paragraph { position: absolute; bottom: 390%; left: 0; font-size: 25px; letter-spacing: 1px; line-height: 40px; font-style: italic; font-weight: 300; padding: 0 230px; margin: 0; }

.carousel__paragraph--one:before, .carousel__paragraph--two:before { content: "''"; bottom: 150%; left: 48%; transform: rotate(-180deg) translateX(-48%); }

.carousel__paragraph--one:after, .carousel__paragraph--two:after { content: "''"; top: 160%; left: 46%; }

.carousel__paragraph--one:after, .carousel__paragraph--one:before, .carousel__paragraph--two:after, .carousel__paragraph--two:before { position: absolute; color: #ed145b; font-size: 158px; font-weight: 700; font-family: 'Palanquin', sans-serif; }

.carousel__image { height: 500px; background-image: url("../images/header.png"); background-position: top; background-size: cover; background-repeat: no-repeat; }

.carousel-control-prev { left: 10%; }

.carousel-control-next { right: 10%; }

.carousel-control-prev-icon { background-image: url("../images/arrow_left.png"); }

.carousel-control-next-icon { background-image: url("../images/arrow_right.png"); }

.carousel-control-next-icon, .carousel-control-prev-icon { width: 15px; height: 33px; }

@media (max-width: 1200px) { .carousel__paragraph { font-size: 20px; padding: 0 76px; }
  .carousel__paragraph--one:before, .carousel__paragraph--two:before { bottom: 140%; }
  .carousel__paragraph--one:after, .carousel__paragraph--two:after { top: 140%; }
  .carousel__paragraph--one:after, .carousel__paragraph--one:before, .carousel__paragraph--two:after, .carousel__paragraph--two:before { font-size: 128px; } }

@media (max-width: 992px) { .carousel__paragraph { bottom: 440%; font-size: 15px; padding: 0 96px; line-height: 30px; }
  .carousel__paragraph--one:after, .carousel__paragraph--one:before, .carousel__paragraph--two:after, .carousel__paragraph--two:before { font-size: 108px; } }

@media (max-width: 768px) { .carousel__paragraph { font-size: 14px; padding: 0 43px; line-height: 25px; }
  .carousel__paragraph--one:before, .carousel__paragraph--two:before { bottom: 140%; }
  .carousel__paragraph--one:after, .carousel__paragraph--two:after { top: 140%; left: 45%; }
  .carousel__paragraph--one:after, .carousel__paragraph--one:before, .carousel__paragraph--two:after, .carousel__paragraph--two:before { font-size: 108px; } }

@media (max-width: 576px) { .carousel__paragraph { font-size: 12px; padding: 0 33px; line-height: 25px; }
  .carousel__paragraph--one:before, .carousel__paragraph--two:before { bottom: 130%; }
  .carousel__paragraph--one:after, .carousel__paragraph--two:after { top: 130%; left: 45%; }
  .carousel__paragraph--one:after, .carousel__paragraph--one:before, .carousel__paragraph--two:after, .carousel__paragraph--two:before { font-size: 88px; } }

.prices { height: 1450px; background-color: #f4f4f4; }

.prices__title--one { font-size: 38px; letter-spacing: 1px; color: #5a5a5a; margin: 17.2em 0 36px; font-weight: 300; font-style: italic; }

.prices__horizontal-rule { border-top: 2px solid #ed145b; width: 200px; margin: 16px 455px 41px; }

.prices__title--two { font-size: 15px; line-height: 30px; color: #5a5a5a; font-weight: 300; }

.prices__wrapper { height: 151px; color: #f4f4f4; font-weight: 700; }

.prices__wrapper--gray { background-color: #5a5a5a; }

.prices__wrapper--red { background-color: #ed145b; }

.prices__box-one, .prices__box-two, .prices__box-three, .prices__box-four { width: 263px; }

.prices__box-one--title-main, .prices__box-two--title-main, .prices__box-three--title-main, .prices__box-four--title-main { font-size: 50px; letter-spacing: 1px; padding-top: 34px; margin: 0; }

.prices__box-one--span, .prices__box-two--span, .prices__box-three--span, .prices__box-four--span { font-size: 20px; letter-spacing: 1px; line-height: 38px; }

.prices__box-one--title-two, .prices__box-two--title-two, .prices__box-three--title-two, .prices__box-four--title-two { font-size: 15px; }

.prices__box-one--title-third, .prices__box-two--title-third, .prices__box-three--title-third, .prices__box-four--title-third { position: absolute; top: 25%; left: 11.5%; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; font-size: 15px; font-weight: 700; color: #5a5a5a; width: 200px; margin: 0 auto; height: 50px; border-radius: 24px; background-color: #f4f4f4; }

.prices__box-one--title, .prices__box-two--title, .prices__box-three--title, .prices__box-four--title { font-size: 15px; font-weight: 300; line-height: 38px; }

.prices__box-one--title-seventh, .prices__box-two--title-seventh, .prices__box-three--title-seventh, .prices__box-four--title-seventh { margin-bottom: 40px; }

.prices__box-one--link, .prices__box-two--link, .prices__box-three--link, .prices__box-four--link { width: 200px; height: 50px; padding: 15px 60px; border-radius: 25px; background-color: #ed145b; color: #f4f4f4; font-weight: 700; font-size: 15px; }

.prices__box-one--link:hover, .prices__box-two--link:hover, .prices__box-three--link:hover, .prices__box-four--link:hover { color: #fff; text-decoration: none; }

.prices__wrapper--white { height: 360px; background-color: #fff; color: #5a5a5a; padding-top: 50px; }

.row { margin: 0 auto; }
