@import url("https://fonts.googleapis.com/css?family=Lato:300,700,900&display=swap");
body { overflow-x: hidden; font-family: 'Lato', sans-serif; color: #5a5a5a; }

.navbar { font-weight: 700; background: rgba(0, 0, 0, 0.3) !important; }

.navbar .navbar-nav .nav-link { color: white; }

.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link:hover { color: #ed145b; }

.home-inner { position: relative; background-image: url("../images/header.png"); background-position: center; background-size: cover; height: 800px; }

.home-inner:after { content: ""; position: absolute; top: 100%; width: 100%; height: 30px; background-color: #ed145b; -webkit-clip-path: polygon(0% 100%, 100% 0%, 0% 0%); clip-path: polygon(0% 100%, 100% 0%, 0% 0%); }

.caption { width: 100%; max-width: 100%; position: absolute; top: 30%; z-index: 1; color: #fff; letter-spacing: 1px; padding: 16px; }

.caption h1 { font-size: 46px; }

.caption h1 .light-text { font-weight: 900; }

.caption hr { border-top: 2px solid #ed145b; width: 200px; margin: 38px auto; }

.caption h3 { font-size: 22px; }

.caption .btn-primary { font-size: 15px; letter-spacing: 0; font-weight: 700; border-radius: 24px; border: none; width: 200px; padding: 15px 4px; background-color: #ed145b; margin-top: 58px; }

@media (max-width: 992px) { .caption h3 { font-size: 20px; } }

@media (max-width: 768px) { .caption h1 { font-size: 40px; }
  .caption h3 { font-size: 1rem; } }

@media (max-width: 576px) { .caption h1 { font-size: 28px; }
  .caption hr { border-top: 2px solid #ed145b; width: 140px; margin: 38px auto; }
  .caption h3 { font-size: 14px; }
  .caption .btn-primary { font-size: 12px; width: 150px; margin-top: 38px; } }

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
.about-us { height: 647px; background-color: #f4f4f4; }

.about-us .about-us__header--one { margin-top: 150px; }

.about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 38px; letter-spacing: 1px; }

.about-us .about-us__horizontal-rule { border-top: 2px solid #ed145b; width: 200px; margin: 28px 0; }

.about-us .about-us__paragraph { font-size: 15px; color: #5a5a5a; line-height: 30px; }

.about-us .about-us__link { color: #ed145b; font-size: 15px; margin-top: 37px; text-decoration: none; }

.about-us .about-us__link .fa-play-circle { position: relative; top: 5px; left: 11px; font-size: 27px; }

.about-us .about-us__image { position: relative; max-width: 100%; height: auto; margin-top: 105px; }

/*---Extra Large media screen---*/
@media (max-width: 1200px) { .about-us { height: 457px; background-color: #f4f4f4; }
  .about-us .about-us__header--one { margin-top: 30px; }
  .about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 24px; }
  .about-us .about-us__horizontal-rule { width: 140px; margin: 14px 0 6px; }
  .about-us .about-us__paragraph { font-size: 13px; }
  .about-us .about-us__link { color: #ed145b; font-size: 12px; }
  .about-us .about-us__link .fa-play-circle { top: 4px; font-size: 22px; } }

/*---Large media screen---*/
@media (max-width: 992px) { .about-us { height: 387px; background-color: #f4f4f4; }
  .about-us .about-us__header--one { margin-top: 130px; }
  .about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 18px; }
  .about-us .about-us__horizontal-rule { border-top: 1px solid #ed145b; width: 110px; margin: 10px 0 2px; }
  .about-us .about-us__paragraph { font-size: 12px; margin-bottom: 4px; }
  .about-us .about-us__link { color: #ed145b; font-size: 12px; }
  .about-us .about-us__link .fa-play-circle { top: 3px; font-size: 18px; } }

@media (max-width: 991px) { .about-us { height: 890px; } }

/*---Medium media screen---*/
@media (max-width: 768px) { .about-us { height: 787px; }
  .about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 20px; }
  .about-us .about-us__paragraph { font-size: 14px; } }

/*---Small media screen---*/
@media (max-width: 576px) { .about-us { height: 720px; }
  .about-us .about-us__header--one, .about-us .about-us__header--two { font-size: 21px; }
  .about-us .about-us__paragraph { font-size: 13px; } }

.our-service { height: 700px; }

.our-service__title { margin-top: 153px; }
