.about-us {
  height: 647px;
  background-color: #f4f4f4;

  // First Column
  & .about-us__header--one {
    margin-top: 150px;
  }

  & .about-us__header--one, .about-us__header--two {
    font-size: 38px;
    letter-spacing: 1px;
  }

  & .about-us__horizontal-rule {
    border-top: 2px solid #ed145b;
    width: 200px;
    margin: 28px 0;
  }

  & .about-us__paragraph {
    font-size: 15px;
    color: #5a5a5a;
    line-height: 30px;
  }
  
  .about-us__link {
    color: #ed145b;
    font-size: 15px;
    margin-top: 37px;
    text-decoration: none;

    & .fa-play-circle {
      position: relative;
      top: 5px;
      left: 11px;
      font-size: 27px;
    }
  }

  // Second Column
  & .about-us__image {
    position: relative;
      max-width: 100%;
      height: auto;
      margin-top: 105px;
  }
}

/*---Extra Large media screen---*/

@media(max-width: 1200px) {
  .about-us {
    height: 457px;
    background-color: #f4f4f4;
  
    // First Column
    // & .about-us__header--one {
      // margin-top: 150px;
    // }
  
    & .about-us__header--one, .about-us__header--two {
      font-size: 24px;
      // letter-spacing: 1px;
    }
  
    & .about-us__horizontal-rule {
      // border-top: 2px solid #ed145b;
      width: 140px;
      margin: 14px 0 6px;
    }
  
    & .about-us__paragraph {
      font-size: 13px;
      // color: #5a5a5a;
      // line-height: 30px;
    }
    
    .about-us__link {
      color: #ed145b;
      font-size: 12px;
      // margin-top: 37px;
      // text-decoration: none;
  
      & .fa-play-circle {
        // position: relative;
        top: 4px;
        // left: 11px;
        font-size: 22px;
      }
    }
  
    // Second Column
    // & .about-us__image {
      // position: relative;
        // max-width: 100%;
        // height: auto;
        // margin-top: 105px;
    // }
  }
}

/*---Large media screen---*/

@media(max-width: 992px) {
  .about-us {
    height: 387px;
    background-color: #f4f4f4;
  
    // First Column
    & .about-us__header--one {
      margin-top: 120px;
    }
  
    & .about-us__header--one, .about-us__header--two {
      font-size: 18px;
      // letter-spacing: 1px;
    }
  
    & .about-us__horizontal-rule {
      border-top: 1px solid #ed145b;
      width: 110px;
      margin: 10px 0 2px;
    }
  
    & .about-us__paragraph {
      font-size: 11px;
      // color: #5a5a5a;
      // line-height: 30px;
      margin-bottom: 4px;
    }
    
    .about-us__link {
      color: #ed145b;
      font-size: 12px;
      // margin-top: 27px;
      // text-decoration: none;
  
      & .fa-play-circle {
        // position: relative;
        top: 3px;
        // left: 11px;
        font-size: 18px;
      }
    }
  
    // Second Column
    // & .about-us__image {
      // position: relative;
        // max-width: 100%;
        // height: auto;
        // margin-top: 105px;
    // }
  }
}

/*---Medium media screen---*/

@media(max-width: 768px) {
  .about-us {
    height: 787px;
    // background-color: #f4f4f4;
  
    // First Column
    // & .about-us__header--one {
      // margin-top: 120px;
    // }
  
    & .about-us__header--one, .about-us__header--two {
      font-size: 20px;
      // letter-spacing: 1px;
    }
  
    // & .about-us__horizontal-rule {
      // border-top: 1px solid #ed145b;
      // width: 110px;
      // margin: 10px 0 2px;
    // }
  
    & .about-us__paragraph {
      font-size: 14px;
      // color: #5a5a5a;
      // line-height: 30px;
      // margin-bottom: 4px;
    }
    
    // .about-us__link {
      // color: #ed145b;
      // font-size: 12px;
      // margin-top: 27px;
      // text-decoration: none;
  
      // & .fa-play-circle {
        // position: relative;
        // top: 3px;
        // left: 11px;
        // font-size: 18px;
      // }
    // }
  
    // Second Column
    // & .about-us__image {
      // position: relative;
        // max-width: 100%;
        // height: auto;
        // margin-top: 105px;
    // }
  }
}

/*---Small media screen---*/

@media(max-width: 576px) {
  .about-us {
    height: 720px;
    // background-color: #f4f4f4;

    // First Column
    // & .about-us__header--one {
      // margin-top: 120px;
    // }
  
    & .about-us__header--one, .about-us__header--two {
      font-size: 21px;
      // letter-spacing: 1px;
    }
  
    // & .about-us__horizontal-rule {
      // border-top: 1px solid #ed145b;
      // width: 110px;
      // margin: 10px 0 2px;
    // }
  
    & .about-us__paragraph {
      font-size: 13px;
      // color: #5a5a5a;
      // line-height: 30px;
      // margin-bottom: 4px;
    }
    
    // .about-us__link {
      // color: #ed145b;
      // font-size: 12px;
      // margin-top: 27px;
      // text-decoration: none;
  
      // & .fa-play-circle {
        // position: relative;
        // top: 3px;
        // left: 11px;
        // font-size: 18px;
      // }
    // }
  
    // Second Column
    // & .about-us__image {
      // position: relative;
        // max-width: 100%;
        // height: auto;
        // margin-top: 105px;
    // }
  }
}