.carousel {
  position: relative;

  &__paragraph {
    position: absolute;
    bottom: 390%;
    left: 0;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 40px;
    font-style: italic;
    font-weight: 300;
    padding: 0 230px;
    margin: 0;
  }

  &__paragraph--one, &__paragraph--two {
    &:before {
      content: "''";
      bottom: 150%;
      left: 48%;
      transform:rotate( -180deg) translateX(-48%);
    } 
  }

  &__paragraph--one, &__paragraph--two {
    &:after {
      content: "''";
      top: 160%;
      left: 46%;
    } 
  }

  &__paragraph--one, &__paragraph--two {
    &:after,
    &:before {
      position: absolute;
      color: #ed145b;
      font-size: 158px;
      font-weight: 700;
      font-family: 'Palanquin', sans-serif;
    } 
  }

  &__image {
    height: 500px;
    background-image: url('../images/header.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-control-prev {
    left: 10%;
  }

  &-control-next {
    right: 10%;
  }

  &-control-prev-icon {
    background-image: url('../images/arrow_left.png');
  }

  &-control-next-icon {
    background-image: url('../images/arrow_right.png');
  }

  &-control-next-icon, &-control-prev-icon {
    width: 15px;
    height: 33px;
  }
}

@media(max-width: 1200px) {
  .carousel {
    &__paragraph {
      font-size: 20px;
      padding: 0 76px;
    }

    &__paragraph--one, &__paragraph--two {
      &:before {
        bottom: 140%;
      } 
    }

    &__paragraph--one, &__paragraph--two {
      &:after {
        top: 140%;
      } 
    }

    &__paragraph--one, &__paragraph--two {
      &:after,
      &:before {
        font-size: 128px;
      } 
    }
  }
}

@media(max-width: 992px) {
  .carousel {
    &__paragraph {
      bottom: 440%;
      font-size: 15px;
      padding: 0 96px;
      line-height: 30px;
    }

    &__paragraph--one, &__paragraph--two {
      &:after,
      &:before {
        font-size: 108px;
      } 
    }
  }
}

@media(max-width: 768px) {
  .carousel {
    &__paragraph {
      font-size: 14px;
      padding: 0 43px;
      line-height: 25px;
    }

    &__paragraph--one, &__paragraph--two {
      &:before {
        bottom: 140%;
      } 
    }

    &__paragraph--one, &__paragraph--two {
      &:after {
        top: 140%;
        left: 45%;
      } 
    }

    &__paragraph--one, &__paragraph--two {
      &:after,
      &:before {
        font-size: 108px;
      } 
    }
  }
}

@media(max-width: 576px) {
  .carousel {
    &__paragraph {
      font-size: 12px;
      padding: 0 33px;
      line-height: 25px;
    }

    &__paragraph--one, &__paragraph--two {
      &:before {
        bottom: 130%;
      } 
    }

    &__paragraph--one, &__paragraph--two {
      &:after {
        top: 130%;
        left: 45%;
      } 
    }

    &__paragraph--one, &__paragraph--two {
      &:after,
      &:before {
        font-size: 88px;
      } 
    }
  }
}