@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Palanquin+Dark:700|Palanquin:700|Passion+One:700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #5a5a5a;
}

// Navigation
.navbar {
  font-weight: 700;
  background: rgba(0, 0, 0, 0.3) !important;

  & .navbar-nav .nav-link {
    color: white;
  }

  & .navbar-nav .nav-link.active,
  & .navbar-nav .nav-link:hover {
    color: #ed145b;
  }
}
